@{
    ViewData["Title"] = "Error";
}

<div style="text-align: center;">
    <img src="~/images/error.png" alt="Error Image" style="width: 200px; height: auto;">
    <h1>The application encountered an error</h1>
    <p>Error was reported.</p>
    <a asp-controller="Home" asp-action="Dashboard" class="btn btn-primary">Back to Dashboard</a>
</div>
